<!DOCTYPE html>
<html lang="en">
  <head>
    <title>robot task planner</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div>
      <h3>Robots</h3>
      <ul>
        {% for robot in robots %}
        <li>
          <button>{{ robot.name }}</button>
        </li>
        {% endfor %}
      </ul>
      <h3>States</h3>
      <ul>
        {% for state in states %}
        <li>
          <span> {{ state.name }} </span>
        </li>
        {% endfor %}
      </ul>
      <h3>Mission planner</h3>
      <form action="/plan_mission/" method="post">
        {% csrf_token %} {{ form }}
        <input />
        <input />
        <input type="submit" value="Test" />
      </form>
    </div>
  </body>
</html>
